header{
  background-color: rgba(42,63,144,1);
}
#juego{
  transform:  translateX(200px) translateY(376px) scale(2);
  width: 400px;
  height: 300px;
}
#adornos{
  background-color: rgba(140, 214, 4, 1);
}
#tribuna{
  background-image: url("../img/Tribuna.png");
  background-repeat: repeat-x;
  height: 64px;
}
#personas{
  height: 64px;
}
@keyframes darlargada {
  0%,40%{
    opacity: 1;
  }
  40%,70%{
    opacity: 1;
    background-position-x: -74px;
  }
  70%,100%{
    opacity: 0;
  }
}
@keyframes trackmove {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@keyframes adornosmove {
  0% {
    background-position-x: 65535px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes motor {
  0% {
    width: 20px;
    height: 21px;
    background-position: -33px -5px;
  }
  50% {
    width: 20px;
    height: 21px;
    background-position: -57px -5px;
  }
}
@keyframes inclinarinv {
  0%,25%{
    width: 20px;
    height: 24px;
    background-position: -5px -58px;
  }
  26%,50%{
    width: 20px;
    height: 24px;
    background-position: -27px -58px;
  }
  51%,75%{
    width: 20px;
    height: 24px;
    background-position: -50px -58px;
  }
  76%,100%{
    width: 20px;
    height: 24px;
    background-position: -73px -58px;
  }
}
@keyframes inclinar {
  0%,15%{
    width: 20px;
    height: 24px;
    background-position: -5px -30px;
  }
  16%,30%{
    width: 20px;
    height: 24px;
    background-position: -28px -30px;
  }
  31%,45%{
    width: 20px;
    height: 24px;
    background-position: -51px -30px;
  }
  46%,60%{
    width: 20px;
    height: 24px;
    background-position: -74px -30px;
  }
  61%,75%{
    width: 20px;
    height: 24px;
    background-position: -97px -30px;
  }
  76%,100%{
    width: 20px;
    height: 24px;
    background-position: -120px -30px;
  }
}
@keyframes caida {
  0%,25%{
    width: 22px;
    height: 24px;
    background-position: -5px -86px;
  }
  26%,50%{
    width: 22px;
    height: 24px;
    background-position: -28px -86px;
  }
  51%,75%{
    width: 22px;
    height: 24px;
    background-position: -54px -86px;
  }
  76%,100%{
    width: 22px;
    height: 24px;
    background-position: -79px -86px;
  }
}
@keyframes levantada {
  0%,25%{
    width: 22px;
    height: 24px;
    background-position: -5px -142px;
  }
  26%,50%{
    width: 22px;
    height: 24px;
    background-position: -31px -142px;
  }
  51%,75%{
    width: 22px;
    height: 24px;
    background-position: -56px -142px;
  }
  76%,100%{
    width: 22px;
    height: 24px;
    background-position: -94px -142px;
  }
}
@keyframes mototirada {
  0%,100%{
    width: 22px;
    height: 11px;
    background-position: -65px -127px;
  }
}
@keyframes bikercaido {
  0%,9%{
    opacity: 1;
    background-position: -5px -122px;
  }
  10%,19%{
    opacity: 1;
    background-position: -27px -122px;
  }
  20%,29%{
    opacity: 1;
    background-position: -43px -122px;
  }
  30%,39%{
    opacity: 1;
    background-position: -27px -122px;
  }
  40%,49%{
    opacity: 1;
    background-position: -43px -122px;
  }
  50%,59%{
    opacity: 1;
    background-position: -27px -122px;
  }
  60%,69%{
    opacity: 1;
    background-position: -43px -122px;
  }
  70%,79%{
    opacity: 1;
    background-position: -27px -122px;
  }
  80%,89%{
    opacity: 1;
    background-position: -43px -122px;
  }
  90%,100%{
    opacity: 1;
    background-position: -27px -122px;
  }
}
#largada{
  background-image: url("../img/ExcitebikeTracks.png");
  position: absolute;
  transform: translateX(32px);
  background-position-x: -10px;
  background-position-y: -16px;
  width: 64px;
  height: 112px;
  background-repeat: no-repeat;
}
#track{
  position: absolute;
  width: 400px;
  height: 112px;
  background-repeat: no-repeat;
}
.bike{
  background-image: url("../img/Bike.png");
  position: absolute;
  transform:translateX(32px) translateY(58px);
  width: 20px;
  height: 21px;
  background-position-x: -5px;
  background-position-y: -5px;
}
.biker{
  background-image: url("../img/Bike.png");
  opacity:0;
  width: 16px;
  height: 16px;
}
