header{
  background-color: rgba(42,63,144,1);
}
#juego{
  transform: translateY(20vh) scale(3);
  width: 512px;
  height: 180px;
  background-color: rgba(140, 214, 4, 1);
}
#adornos{
  background-image: url("../img/TrackParts.png");
  background-position-x: -28px;
  background-position-y: -292px;
  height: 64px;
}
@keyframes darlargada {
  0%,49%{
    opacity: 1;
    background-position-x: -10px;
    background-position-y: -16px;
  }
  50%,99%{
    opacity: 1;
    background-position-x: -74px;
    background-position-y: -16px;
  }
  100%{
    opacity: 0;
  }
}
@keyframes trackmove {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
#largada{
  background-image: url("../img/ExcitebikeTracks.png");
  transform: translateX(32px);
  opacity: 0;
  width: 64px;
  height: 112px;
  background-repeat: no-repeat;
  animation: darlargada 3s steps(3) infinite;
  animation-delay: 17s;
  animation-iteration-count: 1;
}
#track{
  transform: translateY(50%);
  height: 112px;
  background-repeat: no-repeat;
  animation: trackmove 20s linear;
  animation-delay: 20s;
}
