header{
  background-color: rgba(42,63,144,1);
}
#juego{
  transform:  translateX(200px) translateY(376px) scale(2);
  width: 400px;
  height: 300px;
}
@keyframes nubes {
  from{
    background-position: 0px;
  }
  to{
    background-position: 600px;
  }
}
@keyframes brillo {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
#cielo{
  position: absolute;
  width: 800px;
  height: 300px;
  background-color: lightblue;
}
#nubes{
  position: absolute;
  background-image: url("../img/nubes.png");
  width: 800px;
  height: 300px;
  background-repeat: repeat-x;
  animation: nubes 20s linear infinite;
}
#sol{
  position: absolute;
  background-image: url("../img/sol.png");
  background-size: cover;
  width: 226px;
  height: 155px;
  animation: brillo 0.01s linear infinite;
}
#adornos{
  background-color: rgba(140, 214, 4, 1);
}
#tribuna{
  background-image: url("../img/Tribuna.png");
  background-repeat: repeat-x;
  height: 64px;
}
#personas{
  height: 64px;
}
@keyframes darlargada {
  0%,40%{
    opacity: 1;
  }
  40%,70%{
    opacity: 1;
    background-position-x: -74px;
  }
  70%,100%{
    opacity: 0;
  }
}
@keyframes trackmove {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@keyframes adornosmove {
  0% {
    background-position-x: 65535px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes motor {
  0% {
    width: 20px;
    height: 21px;
    background-position: -33px -5px;
  }
  50% {
    width: 20px;
    height: 21px;
    background-position: -57px -5px;
  }
}
@keyframes inclinarinv {
  0%,25%{
    width: 20px;
    height: 24px;
    background-position: -5px -58px;
  }
  26%,50%{
    width: 20px;
    height: 24px;
    background-position: -27px -58px;
  }
  51%,75%{
    width: 20px;
    height: 24px;
    background-position: -50px -58px;
  }
  76%,100%{
    width: 20px;
    height: 24px;
    background-position: -73px -58px;
  }
}
@keyframes inclinar {
  0%,15%{
    width: 20px;
    height: 24px;
    background-position: -5px -30px;
  }
  16%,30%{
    width: 20px;
    height: 24px;
    background-position: -28px -30px;
  }
  31%,45%{
    width: 20px;
    height: 24px;
    background-position: -51px -30px;
  }
  46%,60%{
    width: 20px;
    height: 24px;
    background-position: -74px -30px;
  }
  61%,75%{
    width: 20px;
    height: 24px;
    background-position: -97px -30px;
  }
  76%,100%{
    width: 20px;
    height: 24px;
    background-position: -120px -30px;
  }
}
@keyframes caida {
  0%,25%{
    width: 22px;
    height: 24px;
    background-position: -5px -86px;
  }
  26%,50%{
    width: 22px;
    height: 24px;
    background-position: -28px -86px;
  }
  51%,75%{
    width: 22px;
    height: 24px;
    background-position: -54px -86px;
  }
  76%,100%{
    width: 22px;
    height: 24px;
    background-position: -79px -86px;
  }
}
@keyframes levantada {
  0%,25%{
    width: 22px;
    height: 24px;
    background-position: -5px -142px;
  }
  26%,50%{
    width: 22px;
    height: 24px;
    background-position: -31px -142px;
  }
  51%,75%{
    width: 22px;
    height: 24px;
    background-position: -56px -142px;
  }
  76%,100%{
    width: 22px;
    height: 24px;
    background-position: -94px -142px;
  }
}
@keyframes mototirada {
  0%,100%{
    width: 22px;
    height: 11px;
    background-position: -65px -127px;
  }
}
@keyframes bikercaido {
  0%,9%{
    opacity: 1;
    background-position: -5px -122px;
  }
  10%,19%{
    opacity: 1;
    background-position: -27px -122px;
  }
  20%,29%{
    opacity: 1;
    background-position: -43px -122px;
  }
  30%,39%{
    opacity: 1;
    background-position: -27px -122px;
  }
  40%,49%{
    opacity: 1;
    background-position: -43px -122px;
  }
  50%,59%{
    opacity: 1;
    background-position: -27px -122px;
  }
  60%,69%{
    opacity: 1;
    background-position: -43px -122px;
  }
  70%,79%{
    opacity: 1;
    background-position: -27px -122px;
  }
  80%,89%{
    opacity: 1;
    background-position: -43px -122px;
  }
  90%,100%{
    opacity: 1;
    background-position: -27px -122px;
  }
}
@keyframes doblaarriba {
  0%{
    width: 21px;
    height: 21px;
    background-position: -83px -5px;
  }
  100%{
    width: 21px;
    height: 21px;
    background-position: -83px -5px;
  }
}
@keyframes doblaabajo {
  0%{
    width: 21px;
    height: 21px;
    background-position: -106px -5px;
  }
  100%{
    width: 21px;
    height: 21px;
    background-position: -106px -5px;
  }
}
#largada{
  background-image: url("../img/ExcitebikeTracks.png");
  position: absolute;
  transform: translateX(32px);
  background-position-x: -10px;
  background-position-y: -16px;
  width: 64px;
  height: 112px;
  background-repeat: no-repeat;
}
#track{
  position: absolute;
  width: 400px;
  height: 112px;
  background-repeat: no-repeat;
}
.bike{
  position: absolute;
  transition: transform 0.2s linear;
  width: 20px;
  height: 21px;
  background-position-x: -5px;
  background-position-y: -5px;
}
.bike:nth-child(2){
  background-image: url("../img/Bike.png");
  transform:translateX(calc(var(--bike0posx)*1px)) translateY(calc(calc(var(--bike0posy) + var(--pisobike0))*1px));
}
.bike:nth-child(3){
  background-image: url("../img/BikeBlue.png");
  transform:translateX(calc(var(--bike1posx)*1px)) translateY(calc(calc(var(--bike1posy) + var(--pisobike1))*1px));
}
.bike:nth-child(4){
  background-image: url("../img/BikePurple.png");
  transform:translateX(calc(var(--bike2posx)*1px)) translateY(calc(calc(var(--bike2posy) + var(--pisobike2))*1px));
}
.bike:nth-child(5){
  background-image: url("../img/BikeBluePurple.png");
  transform:translateX(calc(var(--bike3posx)*1px)) translateY(calc(calc(var(--bike3posy) + var(--pisobike3))*1px));
}
.biker{
  opacity:0;
  width: 16px;
  height: 16px;
}
.biker:nth-child(6){
  background-image: url("../img/Bike.png");
}
.biker:nth-child(7){
  background-image: url("../img/BikeBlue.png");
}
.biker:nth-child(8){
  background-image: url("../img/BikePurple.png");
}
.biker:nth-child(9){
  background-image: url("../img/BikeBluePurple.png");
}
