header{
  background-color: rgba(42,63,144,1);
}
#juego{
  transform:  translateX(200px) translateY(376px) scale(2);
  width: 400px;
  height: 300px;
}
#adornos{
  background-color: rgba(140, 214, 4, 1);
}
#tribuna{
  background-image: url("../img/Tribuna.png");
  background-repeat: repeat-x;
  height: 64px;
}
#personas{
  height: 64px;
}
@keyframes darlargada {
  0%,40%{
    opacity: 1;
  }
  40%,70%{
    opacity: 1;
    background-position-x: -74px;
  }
  70%,100%{
    opacity: 0;
  }
}
@keyframes trackmove {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@keyframes adornosmove {
  0% {
    background-position-x: 65535px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes motor {
  0% {
    background-position: -33px -5px;
  }
  50% {
    background-position: -57px -5px;
  }
}
#largada{
  background-image: url("../img/ExcitebikeTracks.png");
  position: absolute;
  transform: translateX(32px);
  background-position-x: -10px;
  background-position-y: -16px;
  width: 64px;
  height: 112px;
  background-repeat: no-repeat;
}
#track{
  position: absolute;
  width: 400px;
  height: 112px;
  background-repeat: no-repeat;
}
.bike{
  background-image: url("../img/Bike.png");
  position: absolute;
  transform:translateX(32px) translateY(58px);
  width: 20px;
  height: 21px;
  background-position-x: -5px;
  background-position-y: -5px;
  animation: motor 0.5s steps(1) infinite;
}
.biker{
  opacity:0;
  width: ;
  height: ;
}
