body#body{
  background-color: #7C7C7C;
}
input{
  width: 50px;
}
label{
  color: yellow;
}
header img{
  display: block;
  margin: auto;
}
header{
  background-color: #06664A;
}
canvas{
  display: block;
  margin: auto;
}
h1{
  text-align: center;
  font-family: Courier, "Lucida Console", monospace;
  font-size: 50px;
}
.cd{
  font-family: Courier, "Lucida Console", monospace;
  font-size: 25px;
}
#cd1{
    text-align: left;
}
#cd2{
    text-align: right;
}
